.login{
    background: #2f42ab;
    background: -webkit-linear-gradient(to right, rgb(99, 178, 224), #2faba1);
    background: linear-gradient(to right, rgb(99, 111, 224), #4a2fab);
}

.signup{
    background: #2f42ab;
    background: -webkit-linear-gradient(to right, rgb(99, 178, 224), #2faba1);
    background: linear-gradient(to right, rgb(99, 111, 224), #4a2fab);
}

.login{
    background: #2f42ab;
    background: -webkit-linear-gradient(to right, rgb(99, 178, 224), #2faba1);
    background: linear-gradient(to right, rgb(99, 111, 224), #4a2fab);
}